In [1]:
word = 'test'

In [8]:
word[1:3]

'es'

In [7]:
word_two = 'testing'

In [9]:
word_two[-4]

't'

In [10]:
n = int(input("Введите число:"))
sum = 0
while n != 0:
    sum += n
    n = int(input("Введите число:"))
    
print(sum)

Введите число:1
Введите число:7
Введите число:2
Введите число:0
10

In [22]:
boys = ['Peter', 'Alex', 'John', 'Arthur', 'Richard']
girls = ['Kate', 'Liza', 'Kira', 'Emma', 'Trisha']

In [15]:
sorted(girls)

['Emma', 'Kate', 'Kira', 'Liza', 'Trisha']

In [16]:
sorted(boys)

['Alex', 'Arthur', 'John', 'Peter', 'Richard']

In [29]:
boys_girls = zip(sorted(boys), sorted(girls))
print(boys_girls)

<zip object at 0x00000231C2AF4D00>

In [30]:
list(boys_girls)

[('Alex', 'Emma'),
 ('Arthur', 'Kate'),
 ('John', 'Kira'),
 ('Peter', 'Liza'),
 ('Richard', 'Trisha')]

In [1]:
boys_two = ['Peter', 'Alex', 'John', 'Arthur', 'Richard', 'Michael']
girls_two = ['Kate', 'Liza', 'Kira', 'Emma', 'Trisha']

In [2]:
boys_two_girls_two = zip(sorted(boys_two), sorted(girls_two))
if len(boys_two) == len(girls_two):
    print(boys_two_girls_two)
else:
    print('Внимание, кто-то может остаться без пары!')

Внимание, кто-то может остаться без пары!

In [3]:
countries_temperature = [
['Thailand', [75.2, 77, 78.8, 73.4, 68, 75.2, 77]],
['Germany', [57.2, 55.4, 59, 59, 53.6]],
['Russia', [35.6, 37.4, 39.2, 41, 42.8, 39.2, 35.6]],
['Poland', [50, 50, 53.6, 57.2, 55.4, 55.4]]
]

In [21]:
for i in countries_temperature: 
    print('Результат:')
    
    print('Средняя температура в странах:')
    
    print(i[0], '-', round((sum(i[1]) / len(i[1]) - 32) / 1.8, 1), 'C')   

# не получилось вывести "Результат: Средняя температура в странах:" только в начале, а не перед каждой страной

Результат:
Средняя температура в странах:
Thailand - 23.9 C
Результат:
Средняя температура в странах:
Germany - 13.8 C
Результат:
Средняя температура в странах:
Russia - 3.7 C
Результат:
Средняя температура в странах:
Poland - 12.0 C